@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Gemstones&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik Gemstones", system-ui;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
}
